<div [@routerTransition]>
    <h2 class="text-muted">Cotización Actual</h2>
    &nbsp;
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Juan Pérez
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-add"></span> Enviar
                    </button>
                    <button type="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-add"></span> Eliminar
                    </button>
                    
                </div>
    <div class="card-body table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Moneda</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>KOYO</td>
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td><strong>$4.99</strong></td>
            <td>MXN</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-add"></span> Remover
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>GATES</td>
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td><strong>$4.99</strong></td>
            <td>USD</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-add"></span> Remover
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>FAG</td>
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td><strong>$4.99</strong></td>
            <td>USD</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-add"></span> Remover
                </button>
            </td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-add"></span> Agregar
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Luis Ramírez
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-add"></span> Enviar
                    </button>
                    <button type="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-add"></span> Eliminar
                    </button>
                </div>
                <div class="card-body table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Moneda</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>KOYO</td>
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td><strong>$4.99</strong></td>
            <td>MXN</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-add"></span> Remover
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>GATES</td>
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td><strong>$4.99</strong></td>
            <td>USD</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-add"></span> Remover
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>FAG</td>
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td><strong>$4.99</strong></td>
            <td>USD</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-add"></span> Remover
                </button>
            </td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-add"></span> Agregar
                </button>
            </td>
        </tr>
        </tbody>
    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Diego García
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-add"></span> Enviar
                    </button>
                    <button type="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-add"></span> Eliminar
                    </button>
                </div>
                <div class="card-body table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Moneda</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>KOYO</td>
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td><strong>$4.99</strong></td>
            <td>MXN</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-add"></span> Remover
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>GATES</td>
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td><strong>$4.99</strong></td>
            <td>USD</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-add"></span> Remover
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>FAG</td>
            <td>
                <input type="text" class="form-control" id="exampleInputEmail1" value="2">
            </td>
            <td><strong>$4.99</strong></td>
            <td>USD</td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-add"></span> Remover
                </button>
            </td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-add"></span> Agregar
                </button>
            </td>
        </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
