<div [@routerTransition]>
    <h2 class="text-muted">Inventario</h2>
    &nbsp;
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Inventario
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Marca</th>
                            <th>Existencia</th>
                            <th>Precio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>10</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>2</td>
                            <td>$580</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>7</td>
                            <td>$456</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>
