<div [@routerTransition]>
    <h2 class="text-muted">Inventario</h2>
    &nbsp;
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Inventario
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Marca</th>
                            <th>Precio</th>
                            <th>Moneda</th>
                            <th>Existencia</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>KOYO</td>
                            <td>$1000</td>
                            <td>MXN</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>GATES</td>
                            <td>$100</td>
                            <td>USD</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>FAG</td>
                            <td>$346</td>
                            <td>USD</td>
                            <td>19</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>
