<div [@routerTransition]>
    <h2 class="text-muted">Inventario</h2>
    &nbsp;
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Inventario
                </div>
                <div class="card-body table-responsive">
                    <table class="table" > 
                        <thead> 
                            <tr> 
                                <th>ID</th>
                                <th>Marca</th>
                                <th>Precio</th>
                                <th>Existencia</th>
                            </tr> 
                        </thead> 	
                        <tbody id="tablaproductos"> 
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>

</div>

<h2>Desde XML</h2>
<div class="container" id = "inventory_xml">

</div>